name: Update Wakatime Charts

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *" # Daily at 01:00 UTC

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: tw93/wakatime-charts@master
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          BRANCH: "master"
          COMMIT_MESSAGE: ":bar_chart: Updated the Graph with new Metrics"
